html {
    background-color: #ffffff;
  }
  .introduction {
    background-image: url("dark-gradient.jpg");
    background-size: contain;
    background-position: center;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    text-emphasis-color: white; 
  }
  .introduction h1 {
    color: white;
  }
  .introduction p {
    color: white;
  }
  .introduction button {
    background-color: blue;
    color: white;
    padding: 1rem 1rem;
    border-radius: 10%;
  }
  .products {
    background-image: ("taust.jpg");
    background-size: contain;
    background-position: center;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .about {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .banner {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid whitesmoke;
    padding: 3rem 3rem;
    vertical-align: middle;
    margin-top: 2rem;
    border-radius: 2%;
  }

  .child1 {
    display: inline-block;
    border: 1px solid black;
    padding: 3rem 3rem;
    margin-block: 2rem;
    vertical-align: middle;
  }
  
  .child2 {
    display: inline-block;
    border: 1px solid black;
    padding: 3rem 3rem;
    margin-block: 2rem;
    vertical-align: middle;
  }